<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 p-5 text-dark rounded">
      <h1 class="text-center">About Us</h1>
      <p class="text-muted text-center">This Is Sample Project Made With TheMovieDB As A Backend and <br> Firebase For Authentication
        and Youtube Data API To Get The Trailers Automatically.
      </p>
      <h4 class="text-dark text-center">Technologies Used In It</h4>
      <div class="text-center list">
        <ul class="text-muted">
          <li>HTML</li>
          <li>SCSS</li>
          <li>BOOTSTRAP</li>
          <li>ANGULAR</li>
          <li>SERVICES</li>
          <li>INTERFACES</li>
          <li>MODELS</li>
          <li>HTTP CLIENT MODULE</li>
          <li>REACTIVE FORMS MODULE</li>
          <li>AUTHENTICATION USING FIREBASE</li>
          <li>AUTH GUARD</li>
          <li>PIPES</li>
          <li>INTERCEPTORS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
