<div class="row position-relative my-5">
  <div class="col-lg-4">
    <img [src]=" ('https://image.tmdb.org/t/p/w500' + actor.profile_path) == 'https://image.tmdb.org/t/p/w500null' ? '../../assets/imgs/rqqhzESgnlxREv7Q8ZtjqBZtSry.jpg':'https://image.tmdb.org/t/p/w500' + actor.profile_path" class="img-fluid" alt="alt" />
  </div>
  <div class="col-lg-8">
      <div class="row d-flex justify-content-between">
          <div class="col-lg-6">
              <h3 class="py-2 my-3">{{actor.name == undefined ? actor.title : actor.name}}</h3>
              <h6>
                Also Known As : <br><br><p *ngFor="let name of actor.also_known_as">{{name}} , </p>
              </h6>
          </div>
          <div class="col-lg-4">
              <div class="rate">
                  <img src="assets/imgs/IMDB_Logo_2016.svg" class="imdb" alt="imdb">
                  <span>Popularity: {{actor.popularity}}</span>
              </div>
          </div>
          <div class="col-lg-2"></div>

      </div>
      <div class="details my-3">
          <h5>Description</h5>
          <span class="text-muted w-75 d-block">{{actor.biography}}</span>
      </div>
      <div class="trailer my-4 d-flex justify-content-start align-items-center ">
          <h5 class="me-3">Birthday Date: <span class="text-muted">{{actor.birthday}}</span> </h5>
          <h5 class="text-muted">{{actor.release_date}}</h5>
      </div>
  </div>
  <div class="row">

  </div>
</div>
