.imdb{
  height: 30px;
}
.rate{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
}
.rate span{
  background-color: #F6C700;
  height: 30px;
  width: 180px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 55px;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  color: black;
  font-weight: bold;
}

#iframe{
width: 100%;
height: 340px;
}
